@import "./variables";
@import "./mapas";
@import "./extend";
@import "./mixin";

/*ANIMACION DE LA IMAGEN CHEVALLIER*/


.titulo__imagen {

	position: absolute;
	top: 10%;
	left: 10%;
	width: 100%;

}


.titulo__imagen-chevallier {
	@extend .titulo__imagen;
	transform: translate(5px);
	color: rgb(226, 3, 3);
	font-size: 150px;

}