

.titulo__imagen {
    
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100%;
    
}


.titulo__imagen-argentina {
    @extend .titulo__imagen;
    transform: translate(5px);
    color: rgb(255, 245, 104);
    font-size: 150px;
    
}