
@import "./variables";

.accordion_div--control {

width: $videoTamañoEscritorio;
}


.accordion__div--informe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    

}




/*tfBoiil5gAbMmD7(21K(*/