
@import "./variables";

.accordion_div--control {

width: $videoTamañoEscritorio;
}


.accordion__div--informe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    

}

.titulo__imagen {
    
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100%;
    
}


.titulo__imagen-index {
    @extend .titulo__imagen;
    transform: translate(5px);
    color: rgb(253, 253, 253);
    font-size: 150px;
    
}


