$colores : (rojo : red,
    azul : blue,
    verde : green,
    rosa : pink,
    viole : violet,
    naranja : orange,
    gris : grey);

$tamañoPorcentaje : (completo : 100%,
    medio : 50,


);



.main__list {


    color: map-get($colores, gris);
    text-align: center;
    margin: auto;
    width: map-get($tamañoPorcentaje, medio);
    font-family: fantasy;

}