$colores : (
    rojo : red ,
    azul : blue ,
    verde : green ,
    rosa : pink ,
    viole : violet ,
    naranja : orange ,

);

$tamañoPorcentaje : (

    completo : 100% ,
    medio : 50 ,


)

