
@import "./mapas";
@import "./extend";
@import "./mixin";



.titulo__imagen--urquiza {
    
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(5px);
    color: aliceblue;
    font-size: 150px;
    width: 100%;
    
}