@import "./mapas";
@import "./extend";
@import "./mixin";


.titulo__imagen {

    position: absolute;
    top: 10%;
    left: 10%;
    width: 100%;

}


.titulo__imagen-urquiza {
    @extend .titulo__imagen;
    transform: translate(5px);
    color: rgb(14, 98, 172);
    font-size: 150px;

}