/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
    font-size: 20px;

}

simepre usar esta propiedad para resetar el css predeterminado de la pagina*/
/*



body {
    background-color: rgb(216, 219, 221);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;

}



h2 {
    font-family: fantasy;
    font-size: 50px;
    color: rgb(0, 0, 0);
}



footer {
    width: 100%;
    display: flex;
    justify-items: end;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    color: white;
    background-color: rgb(91, 116, 131);
    padding: 0px 0px;
    margin-bottom: 0px;
    height: 100%;
}




.logo {


    width: 100px;



}

.nav__li--logoEmpresas {
    width: 200px;
}

.nav__li--contacto {
    width: 75px;
}

.div__micros__section--one {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 0px;
}


.main__section--one--micros {
    display: grid;
    grid-template-rows: 1fr 20px;


}

.contenedor__titulo--imagen {
    position: relative;
    overflow: hidden;
    width: 100%;

}

.main__div--imagenes {
    width: 100%;

}





*/
.main__list {
  color: grey;
  text-align: center;
  margin: auto;
  width: 50;
  font-family: fantasy;
}

.titulo_contacto--huno {
  font-size: 150px;
  color: rgb(126, 119, 119);
  font-weight: 500;
  text-transform: uppercase;
  text-align: start;
}

.titulo_contacto--hdos {
  font-size: 100px;
  color: blue;
  font-weight: 400;
  text-transform: uppercase;
  text-align: start;
}

.titulo__imagen, .titulo__imagen-index, .titulo__imagen-urquiza, .titulo__imagen-chevallier, .titulo__imagen-argentina {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
}

.titulo__imagen-argentina {
  transform: translate(5px);
  color: rgb(255, 245, 104);
  font-size: 150px;
}

.main__list {
  color: grey;
  text-align: center;
  margin: auto;
  width: 50;
  font-family: fantasy;
}

.titulo_contacto--huno {
  font-size: 150px;
  color: rgb(126, 119, 119);
  font-weight: 500;
  text-transform: uppercase;
  text-align: start;
}

.titulo_contacto--hdos {
  font-size: 100px;
  color: blue;
  font-weight: 400;
  text-transform: uppercase;
  text-align: start;
}

/*ANIMACION DE LA IMAGEN CHEVALLIER*/
.reflejo figure {
  position: relative;
}

.reflejo figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}

.reflejo figure:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.titulo__imagen, .titulo__imagen-index, .titulo__imagen-urquiza, .titulo__imagen-chevallier, .titulo__imagen-argentina {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
}

.titulo__imagen-chevallier {
  transform: translate(5px);
  color: rgb(226, 3, 3);
  font-size: 150px;
}

.main__list {
  color: grey;
  text-align: center;
  margin: auto;
  width: 50;
  font-family: fantasy;
}

.titulo_contacto--huno {
  font-size: 150px;
  color: rgb(126, 119, 119);
  font-weight: 500;
  text-transform: uppercase;
  text-align: start;
}

.titulo_contacto--hdos {
  font-size: 100px;
  color: blue;
  font-weight: 400;
  text-transform: uppercase;
  text-align: start;
}

.titulo__imagen, .titulo__imagen-index, .titulo__imagen-urquiza, .titulo__imagen-argentina, .titulo__imagen-chevallier {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
}

.titulo__imagen-urquiza {
  transform: translate(5px);
  color: rgb(14, 98, 172);
  font-size: 150px;
}

.accordion_div--control {
  width: 100vh;
}

.accordion__div--informe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.titulo__imagen, .titulo__imagen-index, .titulo__imagen-argentina, .titulo__imagen-chevallier, .titulo__imagen-urquiza {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
}

.titulo__imagen-index {
  transform: translate(5px);
  color: rgb(253, 253, 253);
  font-size: 150px;
}

.div__titulo__paralaxUno {
  background: url(../assets/2urquiza-logo.png) no-repeat center center;
  height: 200px;
  background-attachment: fixed;
}

.div__titulo__paralaxDos {
  background: url(../assets/chevallier-logo.png) no-repeat center center;
  height: 200px;
  background-attachment: fixed;
}

.div__titulo__paralaxTres {
  background: url(../assets/empresaargentina-logo.png) no-repeat center center;
  height: 200px;
  background-attachment: fixed;
}

.titulo__secundario {
  color: red;
  font-size: 100px;
  text-align: center;
}

.main__list {
  color: grey;
  text-align: center;
  margin: auto;
  width: 50;
  font-family: fantasy;
}

.titulo_contacto--huno {
  font-size: 150px;
  color: rgb(126, 119, 119);
  font-weight: 500;
  text-transform: uppercase;
  text-align: start;
}

.titulo_contacto--hdos {
  font-size: 100px;
  color: blue;
  font-weight: 400;
  text-transform: uppercase;
  text-align: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
  font-size: 20px;
}

/*simepre usar esta propiedad para resetar el css predeterminado de la pagina*/
/*CLASES*/
body {
  background-color: rgb(216, 219, 221);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

footer {
  width: 100%;
  display: flex;
  justify-items: end;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  color: white;
  background-color: rgb(91, 116, 131);
  padding: 0px 0px;
  margin-bottom: 0px;
  height: 100%;
}

.logo {
  width: 100px;
}
.logo:hover {
  transform: scale(1.1);
}

.nav__li--logoEmpresas {
  width: 200px;
}
.nav__li--logoEmpresas:hover {
  transform: scale(1.1);
}

.nav__li--contacto {
  width: 75px;
}
.nav__li--contacto:hover {
  transform: scale(1.1);
}

.header__contenedor {
  opacity: 0.9;
  background-color: rgb(10, 153, 163);
  padding: auto;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.nav__li {
  display: inline;
  font-size: 30px;
  margin: 40px 40px;
}

.main {
  display: grid;
  grid-template-rows: 1fr 24rem 8rem;
  margin-top: 50px;
  text-align: center;
}

.main__titulo {
  display: flex;
  text-shadow: rgb(69, 124, 196) 5px 2px 54px;
  font-size: 5rem;
  text-align: center;
  font-family: fantasy;
  margin-top: 40px;
  justify-content: center;
}

.main__section--one {
  margin-top: 200px;
  display: grid;
  grid-template-rows: auto 5fr auto;
  gap: 10rem;
  justify-items: center;
}

.main__imagenes {
  width: 100%;
}

.main__div__taller--index {
  gap: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  width: 50%;
}

.main__section-parrafo {
  color: rgba(255, 0, 0, 0.37);
  text-align: center;
  margin: auto;
  width: 50%;
  font-family: fantasy;
}

.main__logoCNRT {
  width: 600px;
}

.footer__logo--redes {
  width: 50px;
}
.footer__logo--redes:hover {
  transform: scale(2.5);
}

.section__table {
  margin: auto;
  font-size: 20px;
}

.section__table--div {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: fantasy;
}

.formulario {
  background-color: white;
  border: 2px solid;
  border-color: black;
  border-radius: 1em;
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

table {
  background-color: aliceblue;
}

.main__contacto {
  padding-top: 150px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.div__texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.div__main__logoCNRT {
  width: 100%;
}

.div__section__dos__index {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  justify-content: center;
}

.main__section--one--micros {
  display: grid;
  grid-template-rows: 1fr 20px;
}

.div__micros__section--one {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 300px;
  margin-bottom: 0px;
}

.main__div--imagenes {
  width: 100%;
}

.div_taller--uno {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.div_taller--dos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__section--two {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

.main__titulo--micros {
  display: flex;
  text-shadow: rgb(69, 124, 196) 5px 2px 54px;
  font-size: 5rem;
  text-align: center;
  font-family: fantasy;
  padding: 40px;
  justify-content: center;
}

.mapa {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.contenedor__titulo--imagen {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.argentina {
  font-size: 130px;
}

.imagen__carrusel {
  height: 200px;
}

.section__formulario {
  margin: 2rem;
}

.efecto__paralax {
  background-attachment: fixed;
}

/*RESPONSIVE*/
@media screen and (max-width: 1200px) {
  .accordion__div--informe {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .contenedor__titulo--imagen {
    position: relative;
    overflow: hidden;
  }

  .accordion_div--control {
    width: 70%;
  }

  .titulo__imagen, .titulo__imagen-argentina, .titulo__imagen-chevallier, .titulo__imagen-urquiza, .titulo__imagen-index {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(170px);
    color: rgb(39, 128, 206);
    font-size: 50px;
    width: 100%;
  }

  .titulo__imagen--urquiza {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(5px);
    color: aliceblue;
    font-size: 50px;
    width: 100%;
  }

  .titulo__imagen--chevallier {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(170px);
    color: aliceblue;
    font-size: 50px;
    width: 100%;
  }

  .card__colum--movil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__div__taller--index {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 70vh;
  }

  .mapouter {
    display: none;
  }
}
.div__titulo__paralaxUno {
  background: url(../assets/2urquiza-logo.png) no-repeat center center;
  height: 200px;
  background-size: 80%;
  background-attachment: fixed;
}

.div__titulo__paralaxDos {
  background: url(../assets/chevallier-logo.png) no-repeat center center;
  height: 200px;
  background-size: 80%;
  background-attachment: fixed;
}

.div__titulo__paralaxTres {
  background: url(../assets/empresaargentina-logo.png) no-repeat center center;
  height: 200px;
  background-size: 80%;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  .contenedor__titulo--imagen {
    position: relative;
    overflow: hidden;
  }

  .card__colum--movil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__div__taller--index {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 70vh;
  }

  .mapouter {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .formulario {
    background-color: white;
    border: 2px solid;
    border-color: black;
    border-radius: 1em;
    font-family: fantasy;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .main__div__taller--index {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 70vh;
  }

  .mapouter {
    display: none;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(91, 116, 131);
    align-content: flex-end;
    margin-bottom: 0px;
    /*pruba*/
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .div__main__titulo {
    width: 70vh;
  }

  .main__titulo {
    display: flex;
    flex-wrap: wrap;
    width: 70vh;
  }

  .main__logoCNRT {
    width: 60vh;
  }

  .video__cnrt {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 360px) {
  .main__div__taller--index {
    gap: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 70vh;
  }

  .mapouter {
    display: none;
  }

  footer {
    display: flex;
    justify-content: space-around;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(91, 116, 131);
    margin-bottom: 0px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .div__main__titulo {
    width: 70vh;
  }

  .main__titulo {
    display: flex;
    flex-wrap: wrap;
    width: 70vh;
  }

  .main__logoCNRT {
    width: 60vh;
  }

  .video__cnrt {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */